@using CarShop.Models
@model CarShop.Viewmodels.SingleUserVM
@{
    ViewBag.Title = "Single";
}

<div class="header_bottom_right_images">
    <div id="slideshow">
        <ul class="slides">
            <li><a href="#"><canvas></canvas><img src="~/Source/images/banner4.jpg" alt="Marsa Alam underawter close up"></a></li>
            <li><a href="#"><canvas></canvas><img src="~/Source/images/banner2.jpg" alt="Turrimetta Beach - Dawn"></a></li>
            <li><a href="#"><canvas></canvas><img src="~/Source/images/banner3.jpg" alt="Power Station"></a></li>
            <li><a href="#"><canvas></canvas><img src="~/Source/images/banner1.jpg" alt="Colors of Nature"></a></li>
        </ul>
        <span class="arrow previous"></span>
        <span class="arrow next"></span>
    </div>
    <div class="content-wrapper">
        <div class="content-top">
            <div class="box_wrapper">
                <h1>@Model.User.Name @Model.User.Surname</h1>
            </div>
            <div class="text">
                @if (Session["userLog"] != null && ((User)Session["userLog"]).ID == Model.User.ID)
                {
                    <a href="@Url.Action("Create","Announcement")" class="btn btn-success btn-lg">Add Announcement</a>
                }
                <div class="clear"></div>
                @if (Model.Cars.ToArray().Length != 0)
                {
                    foreach (var item in Model.Cars)
                    {
                        <div class="grid_1_of_3 images_1_of_3">
                            <div class="grid_1">
                                @if (item.IsVIP == true)
                                {
                                    <div class="if_vip">
                                        <i class="fas fa-gem"></i>
                                    </div>
                                }
                                <a href="@Url.Action("Single","Home",new { id=item.ID})"><img src="~/Source/images/@item.Image" title="continue reading" style="width:260px;height:160px;"></a>
                                <div class="grid_desc">
                                    @if (item.Title.Length > 15)
                                    {
                                        <p class="title">@item.Title.Substring(0, 15)</p>
                                    }
                                    else
                                    {
                                        <p class="title">@item.Title</p>
                                    }
                                    <p class="title1">@item.Model.Name</p>
                                    <p class="title">@item.Model.Mark.Name</p>
                                    <p>@item.CarProductionDate.Value.Year il</p>
                                    <p>@item.CarMotor l</p>
                                    <p>@item.Fuel.Name</p>
                                    <p>@item.Ride km</p>
                                    <p>@item.Gearbox.Name</p>
                                    <p>@item.PostDate</p>
                                    <div class="price" style="height: 50px;">
                                        <span class="reducedfrom">@item.Price $</span>
                                    </div>
                                    @if (Session["userLog"] != null && ((User)Session["userLog"]).ID == Model.User.ID)
                                    {
                                        <div class="cart-button">
                                            <div class="cart" style="margin-right:30px;">
                                                <a href="@Url.Action("Delete","Announcement",new { id=item.ID})"><i class="fas fa-trash-alt" style="color:#d54f30;"></i></a>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    }
                                </div>
                            </div><div class="clear"></div>
                        </div>

                    }
                }
                else
                {
                    <h4>There is no announcements.</h4>
                }
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_PartialRightSidebar", Model.News)

